<!DOCTYPE html>
<html lang="kr">

{% extends 'base.html' %}

{% block contents %}
<body>

    <br/><br/>

    <div class="container">
        <h1> {{ blog.title }} </h1>
        <p> {{ blog.pub_date }} </p>
        <p> {{ blog.body }} </p>

        <br><br>

        {% if user.is_authenticated %}
        <form action="{% url 'delete' blog.id %}" method="POST">
            <button type="button" class="btn btn-outline-primary btn-lg">
                <a href="{% url 'home' %}">List</a>
            </button>
            <button type="button" class="btn btn-outline-warning btn-lg">Edit</button>
            {% csrf_token %}
            <button type="button" class="btn btn-outline-danger btn-lg" type="submit">Delete</button>
        </form>
        {% else %}
        <form action="{% url 'delete' blog.id %}" method="POST">
            <button type="button" class="btn btn-outline-warning btn-lg">Edit</button>
            {% csrf_token %}
            <button type="button" class="btn btn-outline-danger btn-lg" type="submit">Delete</button>
        </form>
        {% endif %}
    </div>
</body>
{% endblock %}

</html>
