<!DOCTYPE html>
<html lang="kr">

{% extends 'base.html' %}

{% block contents %}
<body>

    {% for post in post_list %}
    <div class="container">
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{ post.title }} </h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{ post.pub_date }} </h6>
                <p class="card-text"> {{ post.summary }} </p>
                <a href="#" class="card-link"><a href="{% url 'detail' post.id %}">...more</a></a>
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
</body>
{% endblock %}

</html>
