<!DOCTYPE html>
<html lang="kr">

{% extends 'base.html' %}

{% block contents %}
<body>

    {% for post in posts %}
    <div class="container">
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{ post.title }} </h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{ post.pub_date }} </h6>
                <p class="card-text"> {{ post.summary }} </p>
                <a href="#" class="card-link"><a href="{% url 'detail' post.id %}">...more</a></a>
            </div>
        </div>
    </div>
    {% endfor %}

    <br>

    <div class="container">
        {% if posts.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ posts.previous_page_number }}"> Previous</a>
        {% endif %}

        <span> {{ posts.number }} </span>
        <span> of </span>
        <span> {{ posts.paginator.num_pages }} </span>

        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"> Next</a>
        <a href="?page={{ posts.paginator.num_pages }}"> Last</a>
        {% endif %}
    </div>
</body>
{% endblock %}

</html>
