{% extends 'base.html' %}

{% block contents %}
{% load socialaccount %}
{% providers_media_js %}
<div class="container">
    <br>
    <h1>Login</h1>
    <br>
    {% if error %}
        <p> {{ error }} </p>
    {% else %}
        <p> Please fill out the form below. </p>
    {% endif %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{form}}

    <br><br>

    <input type="submit" name="" value="Login" class="btn btn-primary">

    <br><br>

    {% if user_is_authenticated %}
    <a href="/sociallogin/logout">Google Logout</a> /

    {% else %}
    <a href="/sociallogin/signup">Google Sign Up</a> /
    <a href="{% provider_login_url 'google' %}">Google Login</a>
    {% endif %}
</form>

</div>
{% endblock %}
